CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
root files/run1770_coinc.root
root files/run1771_coinc.root
root files/run1772_coinc.root
root files/run1773_coinc.root
root files/run1774_coinc.root
root files/run1778_coinc.root
root files/run1779_coinc.root
root files/run1780_coinc.root
root files/run1780_coinc.root
.vs/